---
layout: default
---

{% include header.html %}

{% for post in site.posts %}

    <article class="excerpt">

        <div class="constrain constrain--padded">

            <!-- <div class="excerpt__img">
                <img src="{{ baseUrl }}/assets/toolkit/images/{{image}}">
            </div> -->

            <header class="excerpt__header">
                <h2 class="h2"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                <div class="timestamp">{{ post.date | date: "%d / %m / %Y" }}</div>
            </header>

            {{ post.excerpt }}

        </div>

    </article>

{% endfor %}
