<article class="excerpt">

    <header class="excerpt__header">
        <h2 class="h2">Adventures in AngularJS with React</h2>
        <div class="timestamp">04 / 12 / 2016</div>
    </header>


    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam egestas tristique tellus id ornare.
        Donec vestibulum nisl eu mauris molestie,
        nec efficitur ex vehicula. Etiam suscipit massa libero,
        nec placerat odio luctus id. Duis egestas sem dui, at
        hendrerit urna dignissim ut. Quisque consequat vel
        purus quis interdum. Sed gravida maximus neque.
    </p>

</article>
