<ul class="list-plain share-links">

    <li class="share-links__icon">
        <a href="#" class="share-links__link">{{> icon id="rss" }}</a>
    </li>

    <li class="share-links__icon">
        <a href="#" class="share-links__link">{{> icon id="twitter" }}</a>
    </li>

    <li class="share-links__icon">
        <a href="#" class="share-links__link">{{> icon id="facebook" }}</a>
    </li>

    <li class="share-links__icon">
        <a href="#" class="share-links__link">{{> icon id="linkedin" }}</a>
    </li>

</ul>
