<div class="share-icons">

    <div class="share-icons__label">
        <span>SHARE</span>
    </div>

    <ul class="list-plain">
        <li class="share-icons__link">
            <a href="#">{{> icon id="share" }}</a>
        </li>
        <li class="share-icons__link">
            <a href="#">{{> icon id="twitter" }}</a>
        </li>
        <li class="share-icons__link">
            <a href="#">{{> icon id="facebook" }}</a>
        </li>
        <li class="share-icons__link">
            <a href="#">{{> icon id="linkedin" }}</a>
        </li>
    </ul>

</div>
