<footer class="footer">

    <div class="u-landmark">

        <svg class="icon icon-logo">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jd-logo"></use>
        </svg>

        <div class="footer__name">James Dowell</div>

        <div class="footer__copyright">All rights reserved &copy; 2016</div>

    </div>

    <div class="social-links">

        <ul class="list-inline">

            <li>
                <a href="https://twitter.com/jmwdowell" target="_blank">
                    <svg class="icon icon-twitter">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/james-dowell" target="_blank">
                    <svg class="icon icon-octocat">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#octocat"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://uk.linkedin.com/in/jmwdowell" target="_blank">
                    <svg class="icon icon-linkedin">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="mailto: jamesdowell1@gmail.com">
                    <svg class="icon icon-mail">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
                    </svg>
                </a>
            </li>

        </ul>

    </div>


</footer>
