<footer class="footer">

    <div class="u-landmark">

        <svg class="icon icon-logo">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jd-logo"></use>
        </svg>

        <div class="footer__name">James Dowell</div>

        <div class="footer__copyright">&copy; 2016</div>

    </div>

    <div class="social-links">

        <ul class="list-inline">

            <li>
                <a href="https://twitter.com/jmwdowell" target="_blank">
                    <svg class="icon icon-twitter">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/james-dowell" target="_blank">
                    <svg class="icon icon-octocat">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#octocat"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://uk.linkedin.com/in/jmwdowell" target="_blank">
                    <svg class="icon icon-linkedin">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="mailto: jamesdowell1@gmail.com">
                    <svg class="icon icon-mail">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"></use>
                    </svg>
                </a>
            </li>

        </ul>

    </div>


</footer>

<!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

<!--
<div class="footer-col footer-col-2">
<ul class="social-media-list">
{% if site.github_username %}
<li>
{% include icon-github.html username=site.github_username %}
</li>
{% endif %}

{% if site.twitter_username %}
<li>
{% include icon-twitter.html username=site.twitter_username %}
</li>
{% endif %}
</ul>
</div> -->
