

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
        <!-- {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %} -->

<header class="masthead">

    <div class="masthead__logo">
        <a href="{{ site.baseurl }}/">
            <svg width="66px" height="66px" viewBox="-5 -5 60 74" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Mobile-Portrait" transform="translate(-137.000000, -35.000000)" stroke="#0CDED0" stroke-width="8">
                        <g id="Group" transform="translate(127.000000, 34.000000)">
                            <path d="M23.9148608,9.82978723 L53.8344385,9.82978723 C55.124451,9.82978723 56.1702128,10.8736656 56.1702128,12.1675435 L56.1702128,53.8324565 C56.1702128,55.1235636 55.1263344,56.1702128 53.8324565,56.1702128 L12.1675435,56.1702128 C10.8764364,56.1702128 9.82978723,55.1263344 9.82978723,53.8324565 L9.82978723,24.0633739" id="Rectangle-11" stroke-linejoin="bevel" transform="translate(33.000000, 33.000000) rotate(-45.000000) translate(-33.000000, -33.000000) "></path>
                            <path d="M33,61.5531915 L33,4.6803695" id="Path-6"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
    </div>

    <div class="masthead__name">
        James Dowell
        <small>Front-end Developer</small>
    </div>

</header>
