.cv-education {

    h3 {
        margin-bottom: 0;
        font-family: $ff-sans;
        font-style: italic;
    }

    small {
        display: block;
        margin-bottom: 10px;
        font-style: italic;
        color: $c-medium-grey;
    }
}
