.excerpt {
    margin-bottom: $base-spacing-unit;

    .h2 {
        margin: 0;
    }

    a {
        color: $base-font-color;
    }

}

.excerpt__header,
.excerpt__img {
    margin-bottom: $base-spacing-unit;
}

.excerpt__img {

    img {
        max-height: 400px;
        width: 100%;
        object-fit: cover;
    }
}
