.blog-masthead {
    margin-bottom: $base-spacing-unit;
}

.blog-masthead__lang {
    max-width: rem(900px);
    margin: 0 auto;
    position: relative;
    height: rem(300px);

    span {
        position: absolute;
        bottom: 0;
        right: 1rem;
        z-index: 1;
        font-family: $ff-brandon;
        @include font-size(125px, 1);

        @include respond-min($bp-large) {
            @include font-size(175px, 1);
        };
    }
}

.blog-masthead--js {
    background-color: $c-language-js;
}

.blog-masthead--ts {
    background-color: $c-language-ts;
    color: white;
}

.blog-masthead--general,
.blog-masthead--svg {
    background-color: $c-language-svg;
    color: white;
}

.blog-masthead--css {
    background-color: $c-language-css;
    color: white;
}

.blog-masthead--scss {
    background-color: $c-language-scss;
    color: white;
}
