.post-header {
    margin-bottom: $base-spacing-unit;
    text-align: center;

    .h1 {
        margin: 0;
    }

    .timestamp {
        margin-bottom: halve($base-spacing-unit);
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }

}

.post-header__icon {
    width: 14px;
    height: 14px;
}
