.share-icons {
    margin-bottom: $base-spacing-unit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
    }

    @include respond-min($bp-large) {
        position: absolute;
        right: 0;
        top: 0;
        align-items: flex-start;

        ul {
            flex-direction: column;
            order: 1;
        }
    }
}

.share-icons__label {
    height: 25px;
    font-weight: normal;
    color: $c-light-grey;

    @include respond-min($bp-large) {
        span {
            font-size: 85%;
            transform: rotate(90deg);
            transform-origin: 0 100%;
            display: inline-block;

            &:after {
                content: ' LINKS';
            }
            order: 2;
        }
    }
}

.share-icons__link {
    margin-left: 14px;
    height: 26px;

    &:first-child {
        margin-left: 0;
    }

    a {
        &:after {
            display: none;
        }
    }

    .icon {
        fill: $c-medium-grey;
        width: 26px;
        height: 26px;

        @include respond-min($bp-large) {
            fill: $c-medium-grey;
            width: 32px;
            height: 32px;
        }
    }

    .icon--share {
        fill: $c-light-grey;
    }

    @include respond-min($bp-large) {
        height: 32px;
        margin-left: 0;
        margin-top: 14px;

        &:first-child {
            margin-top: 0;
        }
    }
}
