{{> masthead }}

<div class="constrain constrain--padded">

    <div class="cv">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam egestas tristique tellus id ornare.
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </p>

        <h2>Technologies</h2>

        <p>
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </p>

        <ul>
            <li>Angular/Angular2</li>
            <li>React</li>
            <li>ReduxJS</li>
            <li>TypeScript</li>
            <li>NodeJS</li>
            <li>HTML5</li>
            <li>CSS/SCSS</li>
            <li>Gulp/NPM</li>
            <li>Python</li>
        </ul>

        <h2>Testing</h2>

        <p>
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </p>

        <ul>
            <li>Karma</li>
            <li>Mocha</li>
            <li>Chai</li>
            <li>Sinon</li>
            <li>Chai-as-promised</li>
            <li>CucumberJS</li>
            <li>Behat</li>
            <li>Istanbul/Remap-Istanbul</li>
        </ul>

        <h2>Experience</h2>

        {{> cv-experience class="cv-experience--uvd" title="UVD" time="June 2014 - present" link="uvd.co.uk" }}

        {{> cv-experience class="cv-experience--langer" title="Langer" time="May 2012 - Sept 2013" link="lbgmedical.co.uk" }}

        <h2>Education</h2>

        {{> cv-education class="cv-education--staffs" title="Staffordshire University" time="2010 - 2014" }}

        {{> cv-education class="cv-education--tbshs" title="The Bishops Stortford High School" time="2002 - 2010" }}

    </div>

</div>
