<article class="post">

    {{> blog.masthead }}

    <div class="post__body">

        <div class="constrain constrain--padded">

            {{> blog.post-header }}

            {{> blog.share-icons }}

            {{> links.back }}

            <div class="prose">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam egestas tristique tellus id ornare.
                    Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
                    Etiam suscipit massa libero, nec placerat odio luctus id.
                    Duis egestas sem dui, at hendrerit urna dignissim ut.
                    Quisque consequat vel purus quis interdum. Sed gravida maximus neque.
                </p>

                <h3 class="h3">What is React</h3>

                <p>
                    Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing</a> elit.
                    Aliquam egestas tristique tellus id ornare.
                    Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
                    Etiam suscipit massa libero, nec placerat odio luctus id.
                    Duis egestas sem dui, at hendrerit urna dignissim ut.
                    Quisque consequat vel purus quis interdum. Sed gravida maximus neque.
                </p>

                <table>
                  <tbody>
                    <tr>
                      <th>IE</th>
                      <th>Edge</th>
                      <th>Firefox</th>
                      <th>Chrome</th>
                      <th>Safari</th>
                    </tr>
                    <tr>
                      <td>9+</td>
                      <td>11+</td>
                      <td>1.5</td>
                      <td>1.0</td>
                      <td>3.0.4</td>
                    </tr>
                  </tbody>
                </table>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam egestas tristique tellus id ornare.
                    Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
                    Etiam suscipit massa libero, nec placerat odio luctus id.
                    Duis egestas sem dui, at hendrerit urna dignissim ut.
                    Quisque consequat vel purus quis interdum. Sed gravida maximus neque.
                </p>

                <blockquote>Quisque consequat vel purus quis interdum. Sed gravida maximus neque.</blockquote>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam egestas tristique tellus id ornare.
                    Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
                    Etiam suscipit massa libero, nec placerat odio luctus id.
                    Duis egestas sem dui, at hendrerit urna dignissim ut.
                    Quisque consequat vel purus quis interdum. Sed gravida maximus neque.
                </p>

            </div>

            {{> links.back }}

        </div>

    </div>

</article>
