/**
 * Constrain
 * -----
 * Center and restrict width of element
 */

.constrain {
    margin: 0 auto;
    max-width: $base-max-width;

    @include respond-min($bp-large) {
        max-width: $desktop-max-width;
    }
}

.constrain--padded {
    padding: 0 $base-spacing-unit;
}


.constrain--relative {
    position: relative;
}
