/**
 * Constrain
 * -----
 * Center and restrict width of element
 */

.constrain {
  max-width: $base-max-width;
  margin: 0 auto;
}

.constrain--padded {
    padding: 0 $base-spacing-unit;
}


.constrain--relative {
  position: relative;
}
