/**
 * Animations.
 * -----------
 * Key frames first then any declarative classes
 * Convention: .animate-{{animation-name}}
 */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.a-fade-in {
    animation: fade-in 1s linear;
}
