/**
 * Project variables
 *
 * Conventions:
 * - Base units: prefix $base-
 * - Colours: prefix $c-
 * - Breakpoints: prefix $bp-
 */


$c-light-grey: #C9C9C9;

$c-lighter-grey: #F3F3F3;

$c-medium-grey: #6A6A6A;

$c-turq: #0CDED0;

$c-blue: #278bd9;

$c-language-js: #F8DC3D;

$c-language-ts: #007ACC;

$c-language-svg: #00FFA1;

 /* Base units */

$base-font-color: #333;

$base-link-color: $c-turq;

$base-font-size: 16px;

$base-line-height:  30px;

$base-max-width : rem(500px);

$desktop-max-width : rem(600px);

$base-spacing-unit: $base-line-height;

$base-line-height-ratio: $base-line-height / $base-font-size;

$base-background-color: #fff;

/**
 * Breakpoints:
 * Refrain from device names, they mean nothings no more
 */

$bp-small: em(460px);

$bp-medium: em(720px);

$bp-large: em(960px);

$bp-x-large: em(1280px);
