<div class="cv-experience {{ class }}">

    <h3>{{ title }}</h3>

    <small>{{ time }}</small>

    <p>
        Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
        Etiam suscipit massa libero, nec placerat odio luctus id.
        Duis egestas sem dui, at hendrerit urna dignissim ut.
    </p>

    <h4>Responsibilities</h4>

    <ul>
        <li>
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </li>
        <li>
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </li>
        <li>
            Donec vestibulum nisl eu mauris molestie, nec efficitur ex vehicula.
            Etiam suscipit massa libero, nec placerat odio luctus id.
            Duis egestas sem dui, at hendrerit urna dignissim ut.
        </li>
    </ul>

    <a class="cv-experience__link" href="{{ link }}">{{ link }}</a>

</div>
